.hero{

  h1{
    text-transform: uppercase;
    color: #fcc90f;
    position: relative;
    text-align: center;
    z-index: 2;
    font-size: 5.2rem;
    font-family: Verdana, Arial, sans-serif;
    font-weight: 600;
    letter-spacing: -3px;
  }

  .hero_image{
    width: 100%;
    img{
      width: 30%;
      display: block;
      margin: -2% auto;
      position: relative;
      z-index: 2;
    }
  }
}

